.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    width: 100%;
}

.header__icon {
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
    
}

.header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightblue;
    border-radius: 999px;
}

.header__center input {
    border: none;
    width: 250px;
    padding: 10px;
    outline-width: 0;
}


.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}


@media only screen and (max-width: 812px) {

    .header__center {
        padding: 5px;
    }

    .header__center input {
        width: 80px;
        padding: 0;

    }
    
    .header__icon {
        margin-left: 0;
    }

    .header__right p {
        display: none;
    }

    .header__right {
      font-size: 2rem;
      margin-right: 35px;
      flex-direction: column;
    }

    .header__right .MuiSvgIcon-root {
        font-size: 1.6rem;
    }

   
 }